*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


 

  /* Common design */

  .bg-color{
    background-color: black;
  }
  
  .btn-primary{
    width: 224px;
    height: 54px;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
  }

  
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.section-description{
    margin: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;    
    text-align: left;
}



/* nav design start */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: rgb(230, 83, 60);;
}
#nav-icon{
    display: none;
}
nav ul{
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 45px;
    padding: 10px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
   
}
.open-menu{
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.5rem;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
}
.home{
    padding: 10px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
}
.shape{
    font-family: 'Miama', sans-serif;
}

/* nav design End */

/* Header design Start */

header{
    height: 686px;
    background-color: rgba(0, 0, 0, 0.901);
    
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
} 
.banner{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 35px 0 200px;
}  
.banner-content{
    width: 40%;
}
.banner-title{
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.download-btn{
    width: 224px;
    height: 54px;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: rgb(16, 3, 1);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}
.banner-profile-pic{
    
    margin: 0 90px 0 0;
}

.videos-icon{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin: 20px 25px 10px auto;
    position: absolute;
    left: 82%;
    top: 20%;
}
.box-title{
    width: 116px;
    height: 40px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 0 10px 5px 10px;
}
.box-description{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 5px;

}
.circle{
    text-align: center;
    justify-content: center;
    background-color: rgb(230, 83, 60);
    height: 40px;
    width: 80px;
    border-radius: 50%;
}
.video-tutorial{
    display: flex;
    left: 57%;
    top: 65%;
}

/* Header design End */

/* Main section start */

/* Habit section start */

.habit-container{
    width: 671px;
    height: 120px;
    text-align: center;
    align-items: center;
    margin: 20px auto 0 auto;
  
}
.habit-desc{
    font-size: 25px;
}

.card-container{
    box-sizing: border-box;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.card{   
    width: 200px;
    height: 150px;
   margin: 20px;
}
.img-style{
    width: 100%;
    /* height: 300px; */
    border-radius: 50%;
}
.card-body{
    
    color: black;
    padding: 5px;
}
.card-title{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 2rem;
    text-align: center;   
    /* padding: 5px; */
}

.card-desc{
    width: 100%;
    font-size: 15px;
    
    
}

/* Habit section END */

/* Run Section start */

.run-container{
    width: 1060px;
    height: 400px;
    align-items: center;
    margin-top: 170px;
    margin-left: 235px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
}
.run-items{
    width: 485px;
    margin-left: 40px;
    padding: 40px;
}
.run-title{
    font-size: 58px;
    font-weight: 800;
    
}
.run-img{
    width: 450px;
    height: 100%;
}


/* Run Section ENd */

/* Caculator section Start */

.Calculator{
    margin-left: 400px;
    margin-top: 50px;
    width: 650px;

}
.Calculator-container{
    height: 480px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
}

table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
}
.bmi-title{
    margin-top: 40px;
}
.bmi-table{
    margin-top: 40px;
    width: 300px;
    height: 210px;
}
.th-title{
    color: rgb(255, 255, 255);
    font-family: "Inter";
}
.form-items{
    margin-top: 40px;
    width: 577px;
    height: 386px;
}
form{    
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    width: 280px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}
select{
    width: 280px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
}
.activity{
    flex-grow: 1;
}
.Calculator-btn{
    margin-top: 20px;
}

/* Caculator section END */

/* Main section END */



/* Responsive start */

@media screen and (max-width: 576px) {
    header{
        margin-left: 30px;
    }
    ul > li {
        display: none;
    }
    /* #nav-icon{
        display: block;
        margin-right: 10px;
    } */
    .nav-section{
        
        justify-content: space-around;
        
    }
    .nav-title{
        margin-left: 0px;
    }
    .banner{

        flex-direction: column;
        margin: auto;
    }
    .banner-content{
        width: 80%;
        
    }
    .banner-title{
        font-size: 56px;
        
    }
    
    .btn-primary{
        width: 169px;
    }
    .download-btn{
        width: 169px;
    }
    .card{
        left: 44%;
        top: 47%;
    }
    .video-tutorial{
        left: 4%;
        top: 65%;
    }

    /* habit start here */



    /* habit End here */

    /* Caculator section start */

    .Calculator{
        margin: auto;
    }
    .Calculator-container{
        height: 1080px;
        flex-direction: column;

        
    }
    .table{
        margin-left: 50px;
        margin-bottom: 375px;
    }
    .form-items{
        
        margin-bottom: 800px;
        width: 400px;
        height: 386px;
        margin-left: 50px;
        
    }
    input{
        width: 190px;
    }
    select{
        width: 190px;
    }

    /* Caculator section End */
}

/* Responsive END */

