*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


 

  /* Common design */

  .bg-color{
    background-color: black;
  }
  
  .btn-primary{
    width: 224px;
    height: 54px;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
  }

  
.section-title{
    margin: 30px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.section-description{
    margin: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;    
    text-align: left;
}



/* nav design start */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: rgb(230, 83, 60);
}
#nav-icon{
    display: none;
}
nav ul{
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 45px;
    padding: 10px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
   
}

.home{
    padding: 10px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
}
.shape{
    font-family: 'Miama', sans-serif;
}

/* nav design End */

/* Header design Start */

header{
    height: 686px;
    background-color: rgba(0, 0, 0, 0.901);
    
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
} 
.banner{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 35px 0 200px;
}  
.banner-content{
    width: 40%;
}
.banner-title{
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.download-btn{
    width: 224px;
    height: 54px;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: rgb(16, 3, 1);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}
.banner-profile-pic{
    
    margin: 0 90px 0 0;
}

.videos-icon{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin: 20px 25px 10px auto;
    position: absolute;
    left: 82%;
    top: 20%;
}
.box-title{
    width: 116px;
    height: 40px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 0 10px 5px 10px;
}
.box-description{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 5px;

}
.header-btn{
    display: flex;
    row-gap: 20px;
}
.circle{
    text-align: center;
    justify-content: center;
    background-color: rgb(230, 83, 60);
    height: 40px;
    width: 80px;
    border-radius: 50%;
}
.video-tutorial{
    display: flex;
    left: 57%;
    top: 65%;
}

/* Header design End */

/* Main section start */

/* Habit section start */

.habit-container{
    width: 671px;
    height: 120px;
    text-align: center;
    align-items: center;
    margin: 20px auto 0 auto;
  
}
.habit-desc{
    font-size: 25px;
}

.card-container{
    box-sizing: border-box;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.card{   
    width: 200px;
    height: 150px;
   margin: 20px;
}
.img-style{
    width: 100%;
    
    border-radius: 50%;
}
.card-body{
    
    color: black;
    padding: 5px;
}
.card-title{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 2rem;
    text-align: center;   
    
}

.card-desc{
    width: 100%;
    font-size: 15px;
    
    
}

/* Habit section END */

/* Run Section start */

.run-container{
    width: 1060px;
    height: 480px;
    align-items: center;
    margin-top: 170px;
    margin-left: 235px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
}
.run-items{
    width: 485px;
    margin-left: 40px;
    padding: 40px;
}
.run-title{
    font-size: 58px;
    font-weight: 800;
    
}
.run-img{
    width: 450px;
    height: 100%;
}


/* Run Section ENd */

/* Caculator section Start */

.Calculator{
    margin-left: 400px;
    margin-top: 50px;
    width: 650px;

}
.Calculator-container{
    height: 480px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
}

table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
}
.bmi-title{
    margin-top: 40px;
}
.bmi-table{
    margin-top: 40px;
    width: 300px;
    height: 210px;
}
.th-title{
    color: rgb(255, 255, 255);
    font-family: "Inter";
}
.form-items{
    margin-top: 40px;
    width: 577px;
    height: 386px;
}
form{    
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    width: 280px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}
select{
    width: 280px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
}
.activity{
    flex-grow: 1;
}
.Calculator-btn{
    margin-top: 20px;
}

/* Caculator section END */

/* Our Team Section Start */

.our-team{
    width: 670px;
    text-align: center;
    align-items: center;
    margin: 20px auto 0 auto;
    
}
.trainer-container{
    width: 480px;
    margin-left: 175px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}
.trainer{
    position: relative;
}
.trainer-img{
    width: 400px;
    height: 350px;
    border-radius: 20px;
}
.trainer-name{
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    top: 70%;
}
.trainer-desc{
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 83%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}


/* Our Team Section END */

/* Main section END */

/* Footer start here */

footer{
    height: 100%;
    background-color: rgb(34, 34, 34);
}

.footer-container{
   
    display: flex;
    justify-content: space-around; 
    margin-top: 40px;
}
.fitness{
    width: 443px;
    height: 176px;
    margin-left: 170px;
    margin-top: 46px;
}
.get-started{
    margin-top: 46px;
}
.copy-right{
       text-align: center;
    
}

/* Footer ENd here */



/* Responsive start */

@media screen and (max-width: 576px) {

    header{
        margin-left: 30px;
    }
    ul > li {
        display: none;
    }
    
     nav {
        width: 446px;
        justify-content: space-around;
        margin: 20px 30px 20px 0;
       
     }
    .nav-section{      
        justify-content: space-around;     
    }
    .nav-title{     
        margin-left: 5px;
    }
    .toggle{
        position: absolute;
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-color: black;
    
    }
    .common{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #fff;
        border-radius: 50px;
        transition: 0.3s ease;
    }
    .top-line{
        bottom: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .middle-line{
        bottom: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .bottom-line{
        bottom: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner{

        flex-direction: column;
        margin: auto;
    }
    .banner-content{
        width: 80%;
        
    }
    .banner-title{
        font-size: 56px;
        
    }
    
    .btn-primary{
        width: 169px;
    }
    .download-btn{
        width: 169px;
    }
    .box{
        left: 44%;
        top: 48%;
    }
    .video-tutorial{
        left: 4%;
        top: 65%;
    }
 

    /* habit start here */

    .habit-container{
        width: 99%;
        height: 100%;
        margin: 450px 0 0 0 ;
       
    }
    .habit-desc{
        width: 85%;
        font-size: 20px;
        text-align: center;
        
    }
    .card-container{
        width: 100%;
        height: 1300px;
        flex-direction: column;
        justify-content: space-between;
    }
    .card{   
        width: 200px;
        height: 150px;
       margin-left: 20px;
    }
    .card-items{
        height: 100px;
        margin-left: 0px;
        align-items: center;
        text-align: center;
    }
    .card-body{
    width: 230px;
    height: 64px;
    margin-left: 20px; 
    }
    .card-title{
        text-align: center;
        margin-left: -59px;
    }
    .card-desc{
        margin: 10px;
    }

    /* habit End here */

    /* Run section */

    .run-container{
        width: 99%;
        height: 100%;  
        margin: auto;
        margin-top: 140px;
        margin-left: 40px;
        flex-direction: column;
        align-items: baseline;
    }
    .run-items{
         margin-left: 15px;
    }
    .run-img{
        width: 95%;
    }
    /* Run section */

    /* Caculator section start */

    .Calculator{
        margin: auto;
        width: 99%;
        margin-left: 40px;      
    }
    .Calculator-container{
        width: 99%;
        height: 1080px;
        margin-left: 40px;
        flex-direction: column;

        
    }
    .table{
        
        margin-bottom: 375px;
    }
    .form-items{
        
        margin-bottom: 800px;
        width: 400px;
        height: 386px;
        
        
    }
    input{
        width: 190px;
    }
    select{
        width: 190px;
    }

    /* Caculator section End */

    /* Trainer section start */

    .our-team{
        width: 99%;
        margin-top: 130px;
        margin-left: 45px;
    }
    .trainer-container{
        width: 99%;
        margin: 0;
        margin-left: 45px;
        grid-template-columns: repeat(1, 1fr);
    }
    .trainer-img{
        width: 99%;
        height: 100%;
        border-radius: 20px;
        
    }

    /* Trainer section end */

    /* Footer start */
   footer{
    width: 470px;
   }

    .footer-container{
        width: 100%;
        flex-direction: column;
       
    }
    .fitness{
        margin-left: 8px;
    }
    .fitness-title{
        margin-left: 30px;
    }
    .fitness-decs{
        margin-left: 30px;
        margin-top: 10px;
        width: 300px;
        font-size: 1rem;
    }
    .copy-right{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
    }

    /* Footer end */
}

/* Responsive END */

